.r_btn_primary{
    position: relative;
    display: flex;
    border: none;
    outline: none;
    box-shadow: none;
    transition: all 0.3s ease;
    background-color: $brand-color;
    color: $color-white;
    font-size: 0.75vw;
    font-weight: 500;
    line-height: 1;
    padding: 1em 2.25em;
    border-radius: 0.5em;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
  
    span{
      position: relative;
      z-index: 2;
    }
  
  
    @media only screen and (max-width:1024px){
      font-size: 12px;
      padding: 1em 1.5em;
    }
  
    &:hover, &:focus, &:active{
      text-decoration: none;
      -moz-box-shadow: 10px 10px 24px -13px $brand-color-2;
      box-shadow: 10px 10px 24px -13px $brand-color-2;
      color: $color-white;
        background-color: $brand-color-2;
    }
  
  
    &[disabled]{
      background-color: #dadada;
      &:hover, &:focus, &:active{
        background-color: #dadada;
      }
  
      &:before{
        background-color: #dadada;
  
      }
    }
  
  
  }
  
  
  .btn_group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 0;
  
    &.center_{
      justify-content: center;
    }
  }
  