{{> header_ar}}
{{> loader}}
{{> banner_ar}}
<section class="home-section about_section" id="about">
  <div class="container">
      <div class="about_wrapper">
        <div class="text_box text-center">
          <p>	تماشياً مع إعلان صاحب السمو الشيخ محمد بن راشد آل مكتوم عام 2020 "عام الاستعداد للخمسين"، تم إطلاق مبادرة "تحدي الخمسين عاماً" كجزء من فعاليات شهر الإمارات للابتكار 2020 للمساهمة في تصميم المستقبل وصياغة شكل الحياة في دولة الإمارات العربية المتحدة.</p>
        </div>
      </div>
   </div>
</section>
{{> script-home}}
{{> footer_ar}}