<div class="floating_social">
    <ul class="sc">
        <li><a href="#" title="Facebook" target="_blank"><span>FB</span></a></li>
        <li><a href="#" title="Instagram" target="_blank"><span>IG</span></a></li>
        <li><a href="#" title="YouTube" target="_blank"><span>YT</span></a></li>
        <li><a href="#" title="Twitter" target="_blank"><span>TW</span></a></li>
    </ul>
    <div class="line_"></div>
    <label>Follow Us</label>
</div>