header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20000;
    background: transparent;
    transition: height .3s ease-in-out,background-color .3s ease-in-out, transform 0.8s $ease 0.8s;
    transform: translateY(-100%);
    height: 10vh;

    @media only screen and (min-width:1200px){
        height: 12.5vh;
    }

    .container{
        height: 100%;
    }


    .navbar{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 1em 0;


        .barnd_box{
            position: relative;
            display: block;
            height: 100%;
            z-index:2;
            .navbar-brand{
                position: relative;
                display: block;
                width: auto;
                height: 100%;
                .navbar-brand{
                    position: relative;
                    display: block;
                    height: 100%;
                }

                img{
                    position: relative;
                    display: block;
                    width: auto;
                    height: 100%;
                }
            }
        }

        .nav_box_wrapper{
            position: relative;
            display: block;
            width: auto;
            transition-delay:1.5s;

            @media only screen and (max-width:1200px){
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity:0;
                pointer-events:none;
                padding:10vh 10vw;
                z-index:1;


                &:before{
                    content:'';
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    background: rgb(30,70,148);
                    background: linear-gradient(45deg, rgba(30,70,148,1) 0%, rgba(74,205,186,1) 100%);
                    transform:scaleX(0);
                    transform-origin:left;
                    transition:transform 0.6s $ease 0.5s;
                }
            }

            .navbar-inner{
                position: relative;
                display: block;
                width: auto;

                @media only screen and (max-width:1200px){
                    height:100%;
                }

                .navbar-nav{
                    position: relative;
                    display: flex;
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin: 0 -1em;

                    @media only screen and (max-width:1200px){
                        margin:0;
                        flex-direction:column;
                        justify-content:center;
                        height:100%;
                    }

                    .nav-item{
                        position: relative;
                        display: block;
                        margin: 0 1em;

                        @media only screen and (max-width:1200px){
                            overflow:hidden;
                        }

                        .nav-link{
                            position: relative;
                            display: block;
                            font-weight: 500;
                            color: $color-white;
                            transition: all 0.3s ease;

                            @media only screen and (max-width:1200px){
                                font-size:7.5vw;
                                padding:0.5em 0;
                                transition: all 0.8s $ease 0s;
                                transform:translateY(100%);
                            }

                            @media only screen and (min-width:768px) and (max-width:1200px){
                                font-size:4vw;
                            }

                            &:hover {
                                color: $brand-color;
                            }
                        }
                    }
                }
            }

            &.show{
                opacity:1;
                pointer-events:auto;
                transition-delay:0s;

                &:before{
                    transition-delay:0s;
                    transform:none;
                }

                .navbar-inner{
                    .navbar-nav{
                        @media only screen and (max-width:1200px){
                            .nav-item{
                                .nav-link{
                                    transform:none;
                                }

                                @for $i from 1 through 10 {
                                    &:nth-child(#{$i}) {
                                        .nav-link{
                                            transition-delay:#{$i*0.1s + 0.5s}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .res_toggler{
        position: relative;
        display: none;
        z-index:2;
        @media only screen and (max-width:1200px){
            display: block;
        }


        .menu_trigger{
            position: relative;
            display: block;
            background: none;
            outline: none;
            border: none;
            padding:0;

            .ham {
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
                transition: transform 400ms;
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background:#1e46944a;
                border-radius:27.5%;

                .line {
                  fill:none;
                  transition: all 400ms ease, all 400ms ease;
                  stroke:#fff;
                  stroke-width:5.5;
                  stroke-linecap:round;

                }

              }



              .ham8 .top {
              stroke-dasharray: 40 160;
              }
              .ham8 .middle {
                stroke-dasharray: 40 142;
                transform-origin: 50%;
                transition: transform 400ms;
              }
              .ham8 .bottom {
                stroke-dasharray: 40 85;
                transform-origin: 50%;
                transition: all 400ms ease, all 400ms ease;
              }
              .ham8.active .top {
                stroke-dashoffset: -64px;
              }
              .ham8.active .middle {
                //stroke-dashoffset: -20px;
                transform: rotate(90deg);
              }
              .ham8.active .bottom {
                stroke-dashoffset: -64px;
              }

              &.active_{
                .hamRotate {
                    transform: rotate(45deg);

                    .line{
                      stroke: #fff;
                    }
                  }

                  .ham8 .middle {
                    //stroke-dashoffset: -20px;
                    transform: rotate(90deg);
                  }
                  .ham8 .bottom {
                    stroke-dashoffset: -64px;
                  }
                  .ham8 .top {
                    stroke-dashoffset: -64px;
                  }


              }
        }


    }

}

.floating_social{
    position: fixed;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    z-index: 99;
    margin-bottom: 6.5vw;
    transform: translateX(-100%);
    transition: transform 0.8s $ease 0.8s;

    @media only screen and (max-width:767px){
        display: none;
    }

    .sc{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        li{
            position: relative;
            display: block;

            a{
                position: relative;
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.9vw;
                width: 2.5vw;
                height: 2.5vw;
                border-radius: 50%;
                text-align: center;
                line-height: 1;
                font-weight: 400;
                transition: all 0.3s ease;

                span{
                    display: block;
                }

                &:hover{
                    background-color: $brand-color;
                    color: $color-white;
                }
            }
        }
    }

    .line_{
        position: relative;
        margin: 1em 0;
        width: 1px;
        height: 5vw;
        display: inline-block;
        background-color: $color-white;
        transition: all 1.2s ease;
    }

    label{
        position: relative;
        display: block;
        color: $color-white;
        font-weight: 500;
        font-size: 1vw;
        writing-mode: vertical-rl;
        transform: scaleX(-1) scaleY(-1);
        transition: all 0.3s ease;
    }
}


.scrolled {
    header {
        height: 10vh;
      background-color: $brand-color;
    }

    .floating_social{
        .sc{
            li{
                a{
                    color: $brand-color;
                }
            }
        }

        .line_{
            height: 2.5vw;
            background-color: $brand-color-2;
        }

        label{
            color: $brand-color;
        }
    }
}

.dom-loaded{
    header{
        transform: none;
    }
    .floating_social{
        transform: none;
    }
}

