
.site_title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  
    &.center_{
      justify-content: center;
      text-align: center;
    }
  
  
    &.end_{
      justify-content: flex-end;
    }
  
    h1, h2{
      position: relative;
      display: block;
      margin: 0;
      font-size: 3vw;
      margin-bottom: 0.25em;
      overflow: hidden;
      width: 100%;
      span{
        position: relative;
        font-weight: 400;
        transform: translateY(100%);
        transition: all 1s $ease 0.8s;
        display: inline-block;
        color: $brand-text;
      }
      strong{
        position: relative;
        transform: translateY(100%);
        transition: all 1s $ease 1s;
        display: inline-block;
        color: $brand-color;
      }
  
      @media only screen and (max-width:767px){
        font-size:7.5vw;
      }
    }
  
    p{
      display: block;
      position: relative;
      margin-top: 0;
      line-height: 1.8;
      width: 100%;
      overflow: hidden;
      @include smText();
  
      span{
        position: relative;
        display: inline-block;
        transform: translateY(100%);
        transition: all 1s $ease 1.2s;
      }
  
      @media only screen and (min-width:1200px){
        width: 75%;
        margin: 0 auto;
      }
    }
    
    &.white_{
        h1{
            span,strong{
                color: $color-white;
            }
        }
    }
  
  }

.page-banner {
    position: relative;
    background-color: $brand-color;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgb(30,70,148);
    background: linear-gradient(45deg, rgba(30,70,148,1) 0%, rgba(74,205,186,1) 100%);
  
    @media only screen and (min-width:768px) and (max-width:1200px){
      height: 50vh;
    }
  
    .svg_bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      svg{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
  
        .b_svg_g{
          transform-origin: center;
          transform: scale(0);
          transform-box: fill-box;
          transition: transform 0.8s $ease;
  
          &.delay_1{transition-delay: 0.6s}
          &.delay_2{transition-delay: 0.8s}
          &.delay_3{transition-delay: 1s}
          &.delay_4{transition-delay: 1.2s}
          &.delay_5{transition-delay: 1.4s}
  
        }
      }
    }
  
    .banner_waves{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      margin-bottom: 3.25vw;
  
      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-white;
        transform: translateY(98%);
      }
  
  
  
      svg{
        display: block;
        width: 100%;
        height: auto;
      }
  
      .editorial {
        display: block;
        width: 100%;
        height: 3.5vw;
        max-height: 3.5vw;
        margin: 0;
        z-index:5;
        bottom:0;
        float:left;
      }
  
      .parallax1 > use {
        @media only screen and (min-width:768px){
        animation: move-forever1 10s linear infinite;
  
        }
        &:nth-child(1) {
          animation-delay: -2s;
        }
      }
      .parallax2 > use {
        @media only screen and (min-width:768px){
        animation: move-forever2 8s linear infinite;
          
        }
        &:nth-child(1) {
          animation-delay: -2s;
        }
      }
      .parallax3 > use {
        @media only screen and (min-width:768px){
        animation: move-forever3 6s linear infinite;
          
        }
        &:nth-child(1) {
          animation-delay: -2s;
        }
      }
      .parallax4 > use {
        @media only screen and (min-width:768px){
        animation: move-forever4 4s linear infinite;
          
        }
        &:nth-child(1) {
          animation-delay: -2s;
        }
      }
    }
  
    .container{
      height: 100%;
  

  
      .banner_wrapper{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
  
      }
    }

    .breadcrumb_{
        position: relative;
        display: flex;
        padding: 0;
        margin: 1.5em 0 0;
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.8s $ease 1.2s;
        li{
            display: block;
            position: relative;

            a, strong{
                position: relative;
                display: block;
                color: $color-white;
                @include smText();
            
            
            }

            a{
                transition: all 0.3s ease;
                &:after{
                    content: '/';
                    position: relative;
                    display: inline-block;
                    margin: 0 1em;
                }
                &:hover{
                    color: $brand-color;
                }
            }
        }
    }
  }
  
  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }

.page-section {
    position: relative;
    width: 100%;
    padding: 5vw 0;

    @media only screen and (max-width:767px){
        padding: 7.5vh 0;
    }

    .text_area{
        position: relative;
        display: block;
        width: 100%;
        transform: translateY(3em);
        opacity: 0;
        transition: all 1s $ease 0.8s;

        p, ul li, ol li{
            display: block;
            margin-top: 0;
            line-height: 1.8;
            @include smText();
        }
        ul,ol{
            position: relative;
            display: block;
            padding: 0;
            margin: 0;

            li{
                display: block;
                position: relative;
                margin-bottom: 1em;
                display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 20px;

            &:before{
                content: '';
                position: relative;
                width: 10px;
                height: 10px;
                border-radius: 2px;
                background-color: $brand-color;
                margin: 100% 0;
            }
            }
        }

        h3,h4{
            display: block;
            margin-bottom: 0.25em;
            @include commonText();
        }
    }
}


.dom-loaded {
    .page-banner {
        .svg_bg{
          svg{
            .b_svg_g{
              transform: none;
            }
          }
        }

        .breadcrumb_{
            @include animate();
        }
        .site_title{
            h1, h2, p{
              span, strong{
                @include animate();
              }
            }
          }
       
      }
    .page-section {
        &.throw_anim {
            .text_area{
                @include animate();
            }
        }
    }
}

